// theme colors
$primary: hsl(220, 15%, 55%);
$secondary: hsl(218, 44%, 22%);
$otro: hsl(212, 45%, 89%);
$otro-mas: hsl(0, 0%, 100%);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: $otro 2px 2px 5px;

// font size
$base-font-size: 1rem;